body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #1DB954;
    padding: 20px;
    border-radius: 8px;
}

header h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #282828;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

li span {
    display: block;
    font-size: 1.2em;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    header h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    li span {
        font-size: 1em;
    }
}
